.DS_Store
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
project.xcworkspace/
*.xcodeproj/xcuserdata/*
*.xcodeproj/xcshareddata/*
*.xcworkspace/xcuserdata/*
*.xcworkspace/xcshareddata/*
Build/*

Pods/Pods.xcodeproj/xcuserdata/*
Pods/Pods.xcodeproj/xcshareddata/*
